* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .spinner {
    width: 100%;
  }

body{
  margin: 0;
  background-image: url(img/mise20.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .title {
  text-align: center;
  background-color: #fff;
  background-color: rgba(255,255,255, 0.7);
  color: red;
  margin: 0;
}

body .sub-title{
  background-color: #fff;
  background-color: rgba(255,255,255, 0.7);
  text-align: center;
  font-size: 3rem;
  margin-top: 43rem;
}

.tab-group{
  display: flex;
  justify-content: center;
  margin: 0;

}

.tab {
  color: #111111;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #111111;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  height: 35px;
}

.panel-group {
  border: solid 1px #111111;
  border-top: none;
  background-color: #ddc8c8;
}

.panel {
  display: none;
  border-top: solid 1px #111111;
}

.tab.active {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: solid 1px #111111;
  border-bottom: none;
  background-color: #ddc8c8;
}

.panel.active {
  display: block;
  border-top: #fff;
}

.menu-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  background-color: #ddc8c8;}

.menu-group .menu1 {
  padding: 15px 10% 0;
  text-align: center;
  margin-bottom: 15px;
  
}

.menu-group .menu1 img {
  margin: 50px 5px 0px 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  height: 100%;
  border-radius: 20px;
}

.menu-group .menu1 p {
  text-align: center;
  font-size: 1em;
  margin: 0;
  border-bottom: 2px solid #111111;
}

.adress {
  background-color: #ddc8c8;
  margin: 10px 13px;
  padding: 2px;
  border-radius: 10px;
}
a {
  text-decoration: none;
}

.footer {
  background-image: url(img/1137353.jpg);
  line-height: 3;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 0;
}

@media screen and (min-width:1280px)
{

body {
  margin: 0;
}

body .title {
  text-align: center;
  font-size: 3em;
}

body .wrap {
  margin: 0 10% 0;
  background-color: #d47474;
  background-image: url(img/1137353.jpg);
}

.tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.tab {
  color: #111111;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #111111;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}

.tab-panel {
  margin: 0;
}

.panel-group {
  border: solid 1px #111111;
  border-top: none;
}

.panel {
  display: none;
  border-top: solid 1px #111111;
}

.tab.active {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: solid 1px #111111;
  border-bottom: none;
  background-color: #ddc8c8;
}

.panel.active {
  display: block;
  border-top: #fff;
}

.menu-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  background-color: #ddc8c8;
}

.menu-group .menu1 {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-group .menu1 img {
  margin-top: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  height: 100%;
  border-radius: 20px;
}

.menu-group .menu1 p {
  width: 100%;
  padding: 0 10px;
  text-align: center;
  line-height: 15;
  font-size: 1.5em;
  border-bottom: 0;
}
.adress {
  background-color: #ddc8c8;
  margin: 10px 10%;
  border-radius: 10px;
}
/*# sourceMappingURL=Tomei.css.map */
}

